.Login-detail {
  font-size: small;
}

button.Login {
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  outline: none;
}
/* 
button.Login :active {
  border: none;
} */

.dead {
  background-color: white;
  color: grey;
}

.live {
  color: steelblue;
  font-weight: bold;
  text-decoration: underline;
  background-color: rgb(185, 220, 248);
}
